body {
  padding-top: 20px;
}
  ul {
    padding: 10px;
    background: skyblue;
  }
  a { 
    color: black;
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}
