.object {
  max-width: 1000px;
  margin: auto;
}
h2    {
  border: 5px solid black;
  border-radius: 5px;
  height: 35px;
  background-color: #FFBCD8;
  text-align: center;
  color: #EA4C88;
       }
.content {
	text-align: center;
	font-family: lucida calligraphy;
	color: #6E248D;
}
body {
background-color: #5DADE2;
background-size: cover;
}
img {
     float: right;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-top: 80px;
  }
  ul {
	padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 50px;
  	background: #DCC6E0;
  	width: 920px;
  	text-align: center;
  }
  a {
    color: #005C01;
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
    width: 50px;
  }
  .floating-box {
    padding-top: 7px;
    padding-left: 10px;
    width: 550px;
    height: 240px;
    margin: 10px;
    border: 3px solid #73AD21; 
    background-color: #A3E4D7;
    background-size: cover;
    font-size: 18px;
}
p {
	color:#A70C00;
}